body{
  background:url(back.jpg) no-repeat;

}
h1{
  color: black;
  text-align: center;
  opacity: 0.3;
  text-shadow: 3px 3px 2px black, 0 0 1em red;
  font-weight: bolder ;
  font-style: italic;
}
#trast{
  color: blue;

}
#trist{
  -background-color: hsla(100, 20%, 40%, 0.5);
  color: red;

}
.alert{
  border-color: hsl(120, 70%, 40%);
  color: hsla(300, 80%, 90%);


}
#boxmusic{
text-align: center;
border-radius: 22px;
background-color: #000;
margin-top: 600px;

  }

}
audio{
background-color: red;

}
#painfail{
  cursor: pointer;
  color:#ff6600;
   font-weight:bold;

}
